<div class="container">
    <br>
    <div class="formcontent">
    <form #ForgotIdForm='ngForm' (ngSubmit)= 'showCustomerForgotId(customer.AccountNumber,customer.Otp)'>
    <!-- <div class='form-group' [class.has.error]='idcontrol.touched && idcontrol.invalid'> -->
        <h4 style="text-align:center;">Forgot User Id</h4> <br>
    <div>
        <label for='AccountNumber'>Enter Account Number</label>
        <input class="form-control" type='number' id='AccountNumber' name='AccountNumber' required [(ngModel)]='customer.AccountNumber' 
        #Titlecontrol='ngModel'>
        <!-- <span class="help-block alert-danger">
            Account Number is Required.
        </span> -->
    </div>
    <div>
        <label for='OTP'>Enter OTP</label>
        <input class="form-control" type='number' id='Otp' name='Otp' required [(ngModel)]='customer.Otp' 
        #Titlecontrol='ngModel'>
        <!-- <span class="help-block alert-danger">
            OTP is Required
        </span> -->
    </div>
    <br/>
    <div>
        <button class="button" type="submit" style="font-size: 14px; padding: 10px 22px;"
              [disabled]='ForgotIdForm.invalid'> Proceed
        </button>
        <a routerLink="/register"></a>
        <button class="button" type="submit" style="font-size: 14px; padding: 10px 22px; 
            margin-left: 10px;"> <a routerLink="/login">Back</a></button>
    </div>
    <br/>
    </form>
<div>
