<div>
  <div class="inline">
    <button (click)="onLogoutButton()" class="var" style="margin-left:1380px; margin-right:10px;margin-top: -25px; float: left;">
      <a style="color: white;">Logout</a> 
    </button>
    <button class="var" style="margin-left:1200px; margin-right:10px;margin-top: -25px; float: left;">
      <a [routerLink]="['/change-password', this.AccountNum]" style="color: white;">Change Password</a> 
    </button>
  <div class="sidenav">
    <a routerLink="/dashboard">Dashboard</a>
    <a [routerLink]="['/userProfile', this.customId]">User Profile</a>
    <a [routerLink]="['/account-summary', this.customId]">Account Summary</a>
    <span style="color:white; margin-left: 17px; font-size: 28px; ">Funds Transfer</span>

        <div >
            <a style="font-size:larger; margin-left: 40px;" routerLink="/addBeneficiary">Add Beneficiary</a>
            <a style="font-size:larger;  margin-left: 40px" routerLink="/imps">IMPS Transaction</a>
            <a style="font-size:larger;  margin-left: 40px" routerLink="/rtgs">RTGS Transaction</a>      
            <a style="font-size:larger;  margin-left: 40px" routerLink="/neft">NEFT Transaction</a>
        </div>
      
        <a [routerLink]="['/accountStatement', this.AccountNum]">Account Statement</a>
  </div>
  <br> 
  <div class="container"> 
    <form  #ChangePwdForm='ngForm' (ngSubmit)=' saveCustomerDetails(customerDetails)'>
            <br><br> <br> <br> <br>
            <div class="formcontent">
            <h2 style="margin-left: 40px;"> Change Password </h2>
            <hr/>
            <label>Login Password - </label>
            <input class="form-control" type="password" id="LoginPassword" name="LoginPassword"
            [(ngModel)]='customerDetails.LoginPassword' #LoginPasswordcontrol='ngModel'/>
            <br/>
            <div *ngIf="LoginPasswordcontrol.touched && LoginPasswordcontrol.invalid">
              <span class="help-bock alert-danger" *ngIf="LoginPasswordcontrol.touched && LoginPasswordcontrol.invalid">
                  Password should contain atleast an uppercase letter, lowercase letter,number and minimum length is 8
              </span>
          </div>
            <label>Confirm Login Password - </label>
            <input class="form-control"  type="password" id="ConfirmLoginPassword" 
            name="ConfirmLoginPassword" [(ngModel)]="ConfirmLoginPassword"/>
            <br/>
            <div *ngIf="customerDetails.LoginPassword!=ConfirmLoginPassword ">
              <span class="help-bock alert-danger" *ngIf="customerDetails.LoginPassword!=ConfirmLoginPassword ">
                  Password not matching
              </span>
          </div>  
            <br/>
            <label>Transaction Password - </label>
            <input class="form-control" type="password" id="TransactionPassword" name="TransactionPassword"
            [(ngModel)]='customerDetails.TransactionPassword' #TransactionPasswordcontrol='ngModel'/>
            <br/>
            <div *ngIf="TransactionPasswordcontrol.touched && TransactionPasswordcontrol.invalid">
              <span class="help-bock alert-danger"  *ngIf="TransactionPasswordcontrol.touched && TransactionPasswordcontrol.invalid">
                  Password should contain atleast an uppercase letter, lowercase letter,number and minimum length is 8
              </span>

          </div>
            <label>Confirm Transaction Password - </label>
            <input class="form-control"  type="password" id="ConfirmTransactionPassword" 
            name="ConfirmTransactionPassword" [(ngModel)]="ConfirmTransactionPassword"/>
            <br/>
            <span *ngIf="customerDetails.TransactionPassword!=ConfirmTransactionPassword" style="color:red">
                Transaction Passwords do not match</span>
            <br/>
            <button class="button" type="submit" [disabled]='ChangePwdForm.invalid'
                 style="font-size: 14px; padding: 10px 22px; margin-left: 260px;"> Submit 
            </button>
        </div>
    </form>
</div>
</div>
