
<form style="float:right; margin-right: 15px; margin-top: 60px;">
</form>
<h2 style="margin-top:150px; margin-left:auto; margin-right:auto; 
float:center; text-align: center; border:solid black 3px; 
box-sizing: border-box; width: 500px; height: 20 px;  " >
You Have Been Logged Out!!</h2>
<br/>

<h4 style="float:center; margin-left:550px;" >Session Expired</h4>
 <br/>
<div style=" text-align: center;">
<h5 > Suggestions</h5>
<p > For security reasons, we have disabled the back button.</p>
<br/>

<b>
    <div>
    <a routerLink="/login">Click here</a> to go to login page.</div>
</b>
</div>
