
<div>
    <h2 class="btn-success" style="text-align: center; float: left; margin-top: -23px; position: relative;">
          Reliable Banking Services Pvt. Ltd.   
     <br/>
    <h6 style="float: center;">A place where you can rely for your financial support.
    </h6> 
    </h2>
   
  <!--   <div class="topnav" style="float: right; margin-right: 30px; margin-top: 10px;"> -->
  <!--     <button class="dropbtn">Contact Us
        <i class="fa fa-caret-down"></i>
      </button> -->
    <!--   <div class="dropdown-content" style="margin-left: 5px;">
         <li> Call us: 0008145005 </li>
         <li> Email us: reliable.bank@outlook.co.in </li>
      </div> -->
  
  <!--   </div> -->
      
    </div>
  <router-outlet></router-outlet>
  <br>
  <footer class="footer">
    <p style="float: left; position:relative;"> © Reliable Bank Services Pvt. Ltd. </p>
    <p style="float: right; position: relative;">All rights reserved. </p>
  </footer>