.nav {
    margin-left: 230px;
    float: left;
}

.btn-success {
    height: 70px;
    width: 100vw;
    margin-top: 10px;
    background-color: rgba(11, 30, 114, 0.877);
    color: white;
}

.dropdown {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropbtn {
    overflow: hidden;
    background-color: rgba(11, 30, 114, 0.877);
    border: none;
    align-self: center;
    color:white;
    /* padding-top: 15px; */
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(233, 236, 250);
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    right: 0;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.topnav:hover .dropdown-content {
    display: block;
}

.button1 {
    margin-left: 250px;
    overflow: hidden;
    background-color: #333;
    border: none;
    align-self: center;
    color: white;
    /* padding-top: 15px; */
    padding-left: auto;
    padding-right: auto;
    padding-right: -10px;
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
}

.footer {
    margin-bottom: 0px;
    /* padding-left: 20px;
    padding-right: 20px; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

/* .addMore{
    border: none;
    width: 32px;
    height: 32px;
    background-color: #eee;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
  }

  .addMore:hover{
    border: 1px solid #888;
    background-color: #ddd;
  } */