<div class="container">
    <br>
    <div class="formcontent">
    <!-- <form #deptForm='ngForm' (ngSubmit)='saveDept(dept)'> -->
    <form #ForgotIdForm='ngForm' (ngSubmit)= 'saveCustomer(customer)'>
    <!-- <div class='form-group' [class.has.error]='idcontrol.touched && idcontrol.invalid'> -->
        <h4 style="text-align: center;">Forgot Password</h4> <br>
    <div>
        <label for='CustomerId'>Enter User Id</label>
        <input class="form-control" type='text' id='CustomerId' name='CustomerId' required [(ngModel)]='customer.CustomerId' 
        #Titlecontrol='ngModel'>
        <!-- <span class="help-block alert-danger">
            User Id is Required.
        </span> -->
    </div>
    <div>
        <label for='Otp'>Enter OTP</label>
        <input class="form-control" type='number' id='Otp' name='Otp' required [(ngModel)]='customer.Otp' 
        #Titlecontrol='ngModel'>
        <!-- <span class="help-block alert-danger">
            OTP is Required
        </span> -->
    </div>
    <br/>
    <div>
        <button class="button" type="submit" style="font-size: 14px; padding: 10px 22px;"
            [disabled]='ForgotIdForm.invalid'>Proceed</button>
        <button class="button" type="submit" style="font-size: 14px; padding: 10px 22px;">
             <a routerLink="/login">Back</a>
        </button>
    </div>
    <br/>
    </form>
    </div>
<div>