.container {
    width: 1000px;
    margin-top: 10px;
    margin-left: 100px;
    background-color:rgb(233, 236, 250);   
}

.button {
    background-color:rgba(11, 30, 114, 0.877); 
    border: 3px solid midnightblue;
    border-radius: 12px;
    padding: 10px 24px;
    text-align: center;
    font-size: 14px;
}

.button:hover {
    background-color:midnightblue;
    color:black ;
}

.sidenav {
    height: 80%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 20;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}  
 
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}
  
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
  
.topnav {
overflow: hidden; 
background-color: #333;
float: left;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 110px;
}

.topnav a:hover {
    background-color: rgb(43, 41, 41);
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.dropbtn {
  overflow: hidden; 
  background-color: #333;
  border: none;
  align-self: center;
  color: white;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: -10px;
}

.topnav:hover a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.topnav:hover .dropdown-content {
  display: block;
}

.button1 {
  margin-left: 250px;
  overflow: hidden; 
  background-color:rgba(11, 30, 114, 0.877);
  border: none;
  align-self: center;
  color: white;
  /* padding-top: 15px; */
  padding-left: auto;
  padding-right: auto;
  padding-right: -10px;
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
