
<button class="button1" style="margin-right:10px;margin-top: 10px; float: right;">
  <a routerLink="/admin-login" style="color: white;">Admin</a> </button>

<br> <br> <br><br> <br> <br>
<div>
  <h4 style="width: 80%;margin-left:100px; background-color:rgba(11, 30, 114, 0.877);
  color: white; padding: 10px 10px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, 
  sans-serif ; text-align: center;"> 
  Welcome to Reliable Bank Services.</h4>
</div>

<!-- <img src="assets/ReliableBanking.jpeg" style="float:left; width: 240px; margin-top: 110px;"> -->
<div class="container"> <br>

  <!-- <img src="assets/ReliableBanking.jpeg" style="float:right; width: 240px; margin-top: 30px;"> -->
  <p>
    Reliable Bank is an Indian multinational, public sector banking and financial services statutory body headquartered in Mumbai, Maharashtra. Reliable bank is the 43rd largest bank in the world and ranked 236th in the Fortune Global 500 list of the world's biggest corporations of 2019. A nationalised bank, it is the largest in India with a 23% market share by assets and a 25% share of the total loan and deposits market.
  </p>
  <p>
    Reliable Bank provides a range of banking products through its network of branches in India and overseas, including products aimed at non-resident Indians (NRIs). Reliable Bank has 16 regional hubs and 57 zonal offices that are located at important cities throughout India.
  </p>
  <br>
  <hr>
  <hr>
  <br>
      <button class="button" style="margin-right:30px; float: left;">
        <a routerLink="/register" style="color: lightblue;">
          New User? Register</a> 
      </button>
      <button class="button" style="margin-left:250px;">
        <a routerLink="/login" style="color:lightblue;">Login</a> 
      </button>          
      <button class="button" style="float: right;" ><a routerLink="/create" 
        style="color:lightblue;">Create A New Account</a>
      </button>
  <br>
  <br>
  <hr>
  <hr>
  <br>
  <h6>Services Offered</h6> <hr> <br>
  <ul> 
      <li>Inquiries</li> 
      <li>Get complete details of all your accounts (SB/Deposit/Loan …)</li>
      <li>View mini statement</li>
      <li>Print/Save the pass-sheet of any of your Operative accounts for any period.</li>
      <li>Cheque Status Inquiry</li>
      <li>Nominee Inquiry</li>
      <li>Interest Details of Deposit Accounts</li>
      <li>Print Pass-sheet of any loan account for any period.</li>
      <li>Funds Transfer </li>
      <li>Fund transfer between your own operative accounts.</li>
      <li>Fund transfer to other operative accounts in SIB</li>
      <li>External fund transfer to other bank branches ( NEFT/RTGS/IMPS(24 x7)</li>
  </ul>
  <br>
</div>

