
  <div class="container">
    <br>
    <div class="formcontent">
      <form  #ChangePwdForm='ngForm' (ngSubmit)=' saveCustomerDetails(customerDetails)'>
        <h3 style="text-align: center;">Set New Password</h3> <br> 
        
            <label>Login Password - </label>
            <input class="form-control" type="password" id="LoginPassword" name="LoginPassword"
            [(ngModel)]='customerDetails.LoginPassword' #LoginPasswordcontrol='ngModel'/>
            <br/>
            <label>Confirm Login Password - </label>
            <input class="form-control" type="password" id="ConfirmLoginPassword"
             name="ConfirmLoginPassword" [(ngModel)]="confirmLoginPassword"/>
            <br/>
            <span *ngIf="customerDetails.LoginPassword!=confirmLoginPassword" 
            style="color:red">Password not matching</span>
            <br/>
            <div>
                <button class="button" type="submit" style="font-size: 14px; padding: 10px 22px;"
                [disabled]='ChangePwdForm.invalid'>Submit</button>
            </div>
    </form>
  </div>
</div>
